.hc-breadcrumb {
  background: transparent;
  padding: 1rem;
  overflow-x: auto;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    li:last-child {
      .hc-breadcrumb-text {
        font-weight: 700;
      }
    }
  }
}

.hc-breadcrumb-text {
  line-height: 1;
  color: var(--neutral-black);
}

.hc-breadcrumb-link {
  transition: box-shadow 0.2s;
  text-decoration: none;
  cursor: pointer;
}
