<div class="hc-user-profile-container">
  <h2 style="margin-bottom: 1.5rem">User profile</h2>
  <div class="hc-user-profile-wrapper-cards">
    <hc-card *ngIf="profile">
      <ng-template hcTemplate="header">
        <hc-profile-background
          [image]="profile.profileBackgroundImage"
        ></hc-profile-background>
      </ng-template>
      <hc-avatar
        [image]="profile.photo"
        [style]="{
          width: '128px',
          height: '128px',
          'margin-top': '-106px',
          'border': '4px solid var(--neutral-white)'
        }"
        [circle]="true"
      ></hc-avatar>
    </hc-card>
    <hc-card></hc-card>
  </div>
</div>
