<div class="hc-user-profile-container">
  <h2>User profile</h2>
  <hc-card>
    <ng-template hcTemplate="header">
      <div
        style="
          width: 100%;
          height: 152px;
          background-image: url(https://images.unsplash.com/photo-1612521481292-29c419630420?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1464&q=80);
          border-top-left-radius: 0.5rem;
          border-top-right-radius: 0.5rem;
        "
      ></div>
    </ng-template>
  </hc-card>
</div>
