<div class="hc-edit-container">
  <h2 style="margin-bottom: 1.5rem">Edit account</h2>
  <div class="hc-edit-wrapper-cards">
    <hc-card>
      <form [formGroup]="form" (submit)="onSubmit(form)">
        <div class="hc-form-control">
          <hc-input
            formControlName="name"
            id="name"
            label="Name"
            [submitted]="submitted"
          ></hc-input>
        </div>
        <div class="hc-form-control hc-form-two-input">
          <div>
            <hc-input
              type="number"
              formControlName="age"
              id="age"
              label="Age"
              [submitted]="submitted"
            ></hc-input>
          </div>
          <div>
            <hc-select
              [options]="genders"
              formControlName="gender"
              id="gender"
              labelTitle="Gender"
              optionLabel="description"
            ></hc-select>
          </div>
        </div>
        <div class="form-control">
          <hc-input
            type="tel"
            formControlName="phone"
            id="phone"
            label="Phone number"
            [submitted]="submitted"
          ></hc-input>
        </div>
        <div class="form-control">
          <hc-input
            formControlName="lastVisit"
            id="lastVisit"
            label="Last visit"
          ></hc-input>
        </div>
        <div class="form-control">
          <hc-select
            [options]="status"
            formControlName="status"
            id="status"
            labelTitle="Status"
            optionLabel="description"
          ></hc-select>
        </div>
        <div class="hc-form-button">
          <hc-button color="primary" type="submit">Save changes</hc-button>
        </div>
      </form>
    </hc-card>
  </div>
</div>
