input {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 14px 16px;
  border-radius: 8px;
  border: 1px solid var(--neutral-gray);
  color: var(--neutral-black);
  outline: 0;

  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: var(--neutral-gray);
    line-height: 20px !important;
    letter-spacing: 0.1px;
  }

  &:disabled {
    background-color: var(--neutral-background);
    border: 1px solid var(--neutral-divider);
  }
}

.input-focus {
  border: 1.5px solid var(--primary-color);
}

.input-error {
  border: 1px solid var(--red);
}
