.hc-select {
  display: inline-flex;
  cursor: pointer;
  position: relative;
  user-select: none;
  background-color: var(--neutral-white);
  border: 1px solid var(--neutral-gray);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
  color: var(--neutral-black);

  &:not(.hc-select-disabled):hover {
    border-color: var(--primary-light);

    .hc-select-placeholder {
      color: var(--primary-hover);
    }

    .hc-select-trigger {
      color: var(--primary-hover);
    }
  }

  &.hc-select-clearable {
    .hc-select-label {
      padding-right: 1.75rem;
    }
  }

  .hc-select-label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    flex: 1 1 auto;
    width: 1%;
    text-overflow: ellipsis;
    cursor: pointer;

    &.hc-select-placeholder {
      color: var(--neutral-gray);
    }
  }

  .hc-select-panel {
    min-width: 100%;

    .hc-select-items {
      padding: 0.75rem 0;
    }
  }
}

.hc-select-placeholder-empty {
  overflow: hidden;
  visibility: hidden;
}

.hc-select-disabled {
  background: var(--neutral-background);
  border-color: var(--neutral-divider);
  cursor: initial;

  .hc-select-label.hc-select-placeholder {
    color: var(--neutral-gray-lighter);
    cursor: initial;
  }

  .hc-select-trigger-icon {
    color: var(--neutral-divider);
  }
}

.hc-select-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.hc-select-inputtext {
  font-size: 1rem;
  padding: 0.75rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  appearance: none;
  border-radius: 6px;
}

.hc-select-trigger {
  background: transparent;
  color: var(--neutral-gray);
  width: 3rem;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.hc-select-panel {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--neutral-black);
  background: var(--neutral-white);
  border: 0 none;
  border-radius: 6px;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}

.hc-select-items-wrapper {
  overflow: auto;
}

.hc-select-items {
  margin: 0;
  list-style-type: none;
}

.hc-select-item {
  margin: 0;
  padding: 0.75rem 1.25rem;
  border: 0 none;
  background: transparent;
  transition: box-shadow 0.2s;
  border-radius: 0;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  overflow: hidden;

  &:not(.hc-select-item-highlight):not(.hc-select-disabled):hover {
    color: var(--primary-default);
    background: var(--primary-lightest);
  }
}

.hc-select-focused {
  &:not(.hc-select-disabled) {
    border-color: var(--primary-default) !important;

    .hc-select-placeholder {
      color: var(--primary-default) !important;
    }

    .hc-select-trigger {
      color: var(--primary-default) !important;
    }
  }
}

.hc-select-item-highlight {
  background-color: var(--primary-default);
  color: var(--neutral-white);
}

.hc-select-label-title {
  display: block;
  color: var(--neutral-gray);
  margin-bottom: 6px;
}
