.container {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  height: 100vh;
}

.wrapper-form {
  padding: 40px 96px;
}

.title {
  color: var(--neutral-black);
}

.description {
  color: var(--neutral-gray-dark);
}

@mixin background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.background-login {
  @include background;
  background-image: url('/assets/imgs/login.jpg');
}

.background-register {
  @include background;
  background-image: url('/assets/imgs/register.jpg');
}
