.container {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  height: 100vh;
}

.wrapper-form {
  padding: 40px 96px;
}

.title {
  color: var(--neutral-black);
  margin-bottom: 12px;
}

.description {
  color: var(--neutral-gray-dark);
  margin-bottom: 40px;
}

.background-login {
  height: 100%;
  background-image: url('/assets/imgs/login.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
