<div class="container">
  <div class="wrapper-form">
    <h1 class="title" style="margin-bottom: 12px">Sign in</h1>
    <p class="body1 description" style="margin-bottom: 40px">
      Sign in to access your Account
    </p>
    <form [formGroup]="form" (submit)="onSubmit(form)">
      <hc-input
        placeholder="Login"
        ariaLabel="login"
        formControlName="login"
        [submitted]="submitted"
      ></hc-input>
      <hc-input
        placeholder="Password"
        ariaLabel="password"
        formControlName="password"
        [submitted]="submitted"
        [type]="isVisiblePassword ? 'text' : 'password'"
        [appendIcon]="isVisiblePassword ? 'visibility' : 'visibility_off'"
        (appendIconClickEvent)="toggleVisible()"
      ></hc-input>
      <hc-switch
        ariaLabel="remember me"
        formControlName="rememberMe"
        label="Remember me"
      ></hc-switch>
      <div style="margin-top: 40px; margin-bottom: 130px">
        <hc-button type="submit" color="primary" ariaLabel="sign in">
          <hc-icon icon="login" style="margin-top: 4px; margin-right: 8px"></hc-icon>
          Sign In
        </hc-button>
      </div>
    </form>
    <div>
      <hc-link router="/" ariaLabel="forgot password">Forgot password?</hc-link>
    </div>
    <div style="margin-top: 8px">
      <span class="body2">Don't have an account?</span>
      <hc-link ariaLabel="sign up" router="/auth/register"> Sign up!</hc-link>
    </div>
  </div>
  <div class="background-login"></div>
</div>
