h1 {
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0.4px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0.2px;
  font-weight: bold;
}

h3 {
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.2px;
  font-weight: 400;
}

h5 {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.2px;
  font-weight: 700;
}

.subtitle1 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.1px;
}

.subtitle2 {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.body1 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 400;
}

.body2 {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.small1 {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.1px;
}

.small2 {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
}
