table {
  border-spacing: 0;
}

.responsive {
  width: 100%;
}

.header-and-fotter {
  width: 100%;
  background-color: var(--neutral-divider);
  padding: 1rem;
  font-weight: 700;
}

.hc-datatable-header {
  @extend .header-and-fotter;
}

th {
  padding: 1rem;
  font-size: 14px;
  background-color: var(--neutral-divider);
  text-align: left;
  vertical-align: middle;
  position: relative;
}

td {
  padding: 1rem;
  text-align: left;
  font-size: 14px;
  border-bottom: 1px solid var(--neutral-divider);
  background-color: var(--neutral-white);
}

.hc-datatable-footer {
  @extend .header-and-fotter;
}

.hc-sortable-column {
  cursor: pointer;

  &:hover {
    background-color: var(--neutral-gray);
  }
}

.hc-highlight {
  color: var(--primary-default);
  background-color: var(--neutral-gray-light) !important;
}
