.hc-datatable-table {
  border-collapse: collapse;
  min-width: 100%;
  table-layout: fixed;
}

.hc-datable {
  position: relative;
  box-sizing: border-box;

  > table {
    border-collapse: collapse;
    min-width: 100%;
    table-layout: fixed;
  }
}

.hc-datatable-responsive-scroll {
  .hc-datatable-wrapper {
    overflow-x: auto;

    > table {
      table-layout: auto;
    }
  }
}

.hc-datatable-thead {
  > tr > th {
    text-align: left;
    padding: 1rem;
    border: 1px solid var(--neutral-gray-lighter);
    border-width: 0 0 1px 0;
    font-weight: 700;
    color: var(--neutral-black);
    background: var(--neutral-divider);
    transition: box-shadow 0.2s;
  }
}

.hc-datatable-tbody {
  > tr {
    background: var(--neutral-white);
    color: var(--neutral-black);
    transition: box-shadow 0.2s;

    > td {
      text-align: left;
      border: 1px solid var(--neutral-gray-lighter);
      border-width: 0 0 1px 0;
      padding: 1rem;
    }
  }
}

.header-and-fotter {
  width: 100%;
  background-color: var(--neutral-divider);
  padding: 1rem;
  font-weight: 700;
}

.hc-datatable-header {
  @extend .header-and-fotter;
}

.hc-datatable-gridlines {
  .hc-datatable-thead {
    tr {
      th {
        border: 1px solid var(--neutral-divider);
      }
    }
  }

  .hc-datatable-tbody {
    tr {
      td {
        border: 1px solid var(--neutral-divider);
      }
    }
  }
}

.hc-datatable-footer {
  @extend .header-and-fotter;
}

.hc-sortable-column {
  cursor: pointer;

  &:hover {
    background-color: var(--neutral-gray);
  }
}

.hc-datatable-highlight {
  color: var(--primary-default) !important;
  background-color: var(--neutral-gray-light) !important;
}

.hc-checkbox {
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  vertical-align: bottom;
  position: relative;
}

.hc-checkbox:not(.hc-checkbox-disabled) .hc-checkbox-box:hover {
  border-color: var(--primary-default);
}

.hc-checkbox-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.hc-checkbox-box {
  border: 2px solid var(--neutral-gray-light);
  background-color: var(--neutral-white);
  width: 22px;
  height: 22px;
  color: var(--neutral-black);
  border-radius: 6px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hc-checkbox-icon {
  transition-duration: 0.2s;
  color: var(--neutral-white);
  font-size: 22px;
}

.hc-checkbox-highlight {
  border-color: var(--primary-default);
  background: var(--primary-default);
}

.hc-checkbox-disabled {
  cursor: default;
  pointer-events: none;

  .hc-disabled {
    opacity: 0.6;
  }
}

.hc-table-limit {
  display: flex;
  align-items: center;
}

.hc-table-options-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Scrollable */
.hc-datatable-scrollable {
  .hc-datatable-wrapper {
    position: relative;
    overflow: auto;
  }

  .hc-datatable-thead {
    > tr {
      width: 100%;
      > th {
        white-space: nowrap;
      }
    }
  }

  .hc-datatable-tbody {
    margin-bottom: 0.5rem;

    > tr {
      > td {
        white-space: nowrap;
      }
    }
  }
}

.hc-datatable-scrollable-horizontal,
.hc-datatable-scrollable-both {
  .hc-datatable-thead {
    > tr > th {
      white-space: nowrap;
    }
  }

  .hc-datatable-tbody {
    > tr > td {
      white-space: nowrap;
    }
  }
}
